@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color: rgb(29, 26, 26)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
    margin-left: 40%;
    margin-top: 5%;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
 }

h1 {
    color: white;
    font-size: 3.5rem;

}

.nomesquadra {
display: flex;
justify-content: center;
width: 100px;
height: 100px;
margin-top: 5%;
margin-left: 50%;
}

h2 {
    color: aqua;
    font-size: 5rem;
}