@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    background-color: rgb(29, 26, 26);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
    }

    .end-form-container {
        font-size: 5rem;
        color:limegreen;
        padding-left: 300px;
        padding-top:200px
        }
          
        .end-form-container2 {
            font-size: 5rem;
            color:limegreen;
            padding-left: 1300px;
            padding-top: 150px;
        }

h1 {
    color:white;
    font-family: 'Nova Square', cursive;
    font-size: 5rem;
    padding-left: 770px;
    padding-top: 20px; 
}

h4  {
    color:limegreen;
    font-family: 'Nova Square', cursive;
    font-size: 4rem;
    padding-left: 700px;
    padding-top: 20px; 
}

    #Versus{
        color: white;
        font-family: 'Nova Square', cursive;
        font-size: 12rem;
        position:absolute;
         height: 51px;
        left: 865px;
        top: 465px;
         width: 262px;
         font-weight: bold;
    }
    
    #bandiera1 {
        position:absolute;
        left: 294px;
        bottom: 255px;
    }

    #bandiera2 {
        position:absolute;
        right: 273px;
        bottom: 350px;
    }

    .startbutton {
        position: absolute;
        font-size: 2.4rem;
        padding: 2rem 0;
        width: 30rem;
        text-align: center;
        margin-bottom: 1rem;
        text-decoration: none;
        color: rgb(28, 26, 26);
        background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
        border-radius: 4px;
        left: 805px;
        bottom: 100px;
    }